#main {
    height: 100%;
    padding: 0;
    background: #ccc;
    margin: 0 auto;
}

.square {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
}

.square p {
    position: inherit;
    margin: auto;
    padding: 0;
    text-align: center;
}

#chess_board {
    position: relative;
    height: 642px;
    width: 642px;
    border: 1px solid black;
    margin: 0 auto;
}

.white {
    background-color: #ffffff;
    color: #0f0f0f;
}

.black {
    background-color: #333333;
    color: #faf2cc;
}

.piece {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #930003;
    font-weight: bolder;
}

.white_piece {
    color: #333333;
    background: #ccc;
}

.black_piece {
    color: #cccccc;
    background: #333333;
}

.selected {
    border: 3px solid deepskyblue;
}

.placeable {
    border: 5px solid cyan;
}